<br>
<br>
<br>
<br>

<input   placeholder="Search.." name=search [(ngModel)]="search">
 <div class="container">    
  <table class="table ">
      <thead class="thead-dark">
          <tr>
            <th><h3>name</h3></th>
            <th><h3>id</h3></th>
            <th><h3>phone number</h3></th>
            <th><h3>classLevel</h3></th>
            <th></th>
          </tr>
        </thead>
    <tbody *ngFor="let teacher of teachers | filter:search">
      <tr>
        <th>
        <input *ngIf="this.dis; else spnname" [type]="text"    [(ngModel)]="teacher.name">
          <ng-template #spnname><span>
          {{teacher.name}}</span></ng-template></th>
        <th><input *ngIf="this.dis; else id" [type]="text"    [(ngModel)]="teacher.id">
          <ng-template #id>{{teacher.id }}</ng-template></th>
        <th><input appPhoneMask *ngIf="this.dis; else phone" [type]="text"    [(ngModel)]="teacher.phoneNumber">
          <ng-template #phone>{{teacher.phoneNumber | phonePipe}}</ng-template></th>
        <th><input   [type]="text" *ngIf="this.dis; else classLevel"   [(ngModel)]="teacher.classLevel">
          <ng-template #classLevel>{{teacher.classLevel}}</ng-template></th>
        <th>  <button *ngIf="this.dis; else btn" type="button" (click)="Save()"class="btn btn-outline-secondary btn-sm">Save</button>
         <ng-template #btn> <button type="button" (click)="Edit()"class="btn btn-outline-secondary btn-sm">Edit</button></ng-template></th>
      </tr>
      
  
    </tbody>
  </table>
</div>
<div class="row">
<div class="col"><app-new-secretary-teacher (teacherAdded)="onAddTeacher($event)"></app-new-secretary-teacher></div>
<div class="col"><br><br><h4>insert message to secretary:</h4><br><br><input type="text" [(ngModel)]="title"></div>
<div class="col"><br><br><h3>home:</h3><br><app-home [messegeTeacher]="title"></app-home></div>
</div>




  

