
<div>
<a routerLink="/ManagerHomePage" role="button" class="btn btn-info btn-lg" >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/ListOfKinderGarden" role="button" class="btn btn-info btn-lg" (click)="select='ListOfKinderGarden'" >הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/ListOfChildren" role="button" class="btn btn-info btn-lg" (click)="select='ListOfChildren'" >הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/ListOfParent"role="button" class="btn btn-info btn-lg" (click)="select='ListOfParent'" >הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/ListOfTeachers"role="button" class="btn btn-info btn-lg" (click)="select='ListOfTeachers'" >הצג גננות</a>
</div>
<br><br><br><br>
<div>
<h1>?מה תרצה לעשות עכשיו</h1><br><br>
<button class="btn btn-info" (click)="ToKinderGardenForm()">הוספת גן</button> &nbsp;
<button class="btn btn-info" (click)="ToChildrenForm()">הוספת ילד</button> &nbsp;
<button class="btn btn-info" (click)="ToUserForm(2)">הוספת גננת</button> &nbsp;
<!--<button (click)="ToUserForm(1)">הוספת הורה</button> &nbsp;-->
<button class="btn btn-info" (click)="Exit()">יציאה</button>
</div>



