<nav class="bg-dark d-flex justify-content-around navbar">
    <ul class="navbar-nav d-flex justify-content-center align-items-between">
      <li class="nav-item"><button class="btn btn-danger" (click)="Exit()">יציאה</button></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ManagerHomePage" class="btn btn-info btn-md nav-item active" >דף הבית</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ListOfKinderGarden" class="btn btn-info">הצג גני ילדים</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ListOfChildren" class="btn btn-info">הצג ילדים</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ListOfParent" class="btn btn-info">הצג הורים</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/ListOfTeachers" class="btn btn-info">הצג גננות</a></li>
    </ul> 
</nav>
<br><br><br>
<h3>  :משתמש נוכחי :{{user.FirstName}} {{user.LastName}}, ניתן לבצע את הפעולות הבאות</h3>
<br><br><br>
<div>
<button class="btn btn-info" (click)="ToKinderGardenForm()">הוספת גן</button> &nbsp;
<button class="btn btn-info" (click)="ToChildrenForm()">הוספת ילד</button> &nbsp;
<button class="btn btn-info" (click)="ToUserForm(2)">הוספת גננת</button> &nbsp;
<!--<button (click)="ToUserForm(1)">הוספת הורה</button> &nbsp;-->
</div>



