
<a routerLink="ListOfKinderGarden" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all kinder garden</h3></a>
<a routerLink="ListOfChildren" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all childrens</h3></a>
<a routerLink="ListOfParent" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all parents</h3></a>
<a routerLink="ListOfTeachers" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all teachers</h3></a>
<h1>What do you want to do?</h1><br><br>
<button (click)="ToKinderGardenForm()">addKinderGarden</button> &nbsp;
<button (click)="ToChildrenForm()">add Children</button> &nbsp;
<button (click)="ToUserForm()">add teachers</button> &nbsp;




