input{
    max-width: max-content;
}
select{
    max-width: max-content;
}
form{
    justify-content:center;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
a{
    background-color:cornflowerblue;
    color:cornsilk;
}
.selected{
    color: cornflowerblue;
    background-color:cornsilk;
}
div{
    text-align: center;
}
h3{
    text-align: right;
    color: midnightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
table{
    border-color: black;
}