<nav class="navbar navbar-expand-xl bg-dark navbar-dark justify-content-center">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button class="btn btn-danger" (click)="Exit()">יציאה</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/ManagerHomePage" class="btn btn-info btn-md " >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfKinderGarden" class="btn btn-info">הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfChildren" class="btn btn-info">הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfParent" class="btn btn-info active" >הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfTeachers" class="btn btn-info ">הצג גננות</a>
    </li>
  </ul>
</nav>

<div >
  <input class="form-control" style="width: 15%" [(ngModel)]="search" name="search" placeholder="search...">
<table class="table" >
<thead>
  <tr>
    <th><h3>.מ.ז</h3></th>&nbsp;
    <th><h3>שם פרטי</h3></th>&nbsp;
    <th><h3>שם משפחה</h3></th>&nbsp;
    <th><h3>כתובת</h3></th>&nbsp;
    <th><h3>מס' טלפון</h3></th>&nbsp;
    <th><h3>דוא"ל</h3></th>&nbsp;
    <th></th>
  </tr>
</thead>
<tbody *ngFor="let Parent of ParentList| filter:search">
  <tr>
    <th>{{Parent.Id}}</th>&nbsp;
    <th>{{Parent.FirstName}}</th>&nbsp;
    <th>{{Parent.LastName}}</th>&nbsp;
    <th>{{Parent.Address}}</th>&nbsp;
    <th>{{Parent.PhoneNum}}</th>&nbsp;
    <th>{{Parent.mailAddress}}</th>
   <!--<th><button (click)="goToChildrenOfParent(Parent)">הילדים שלי</button></th>-->
   <th>
      <button (click)="goToChildrenOfParent(Parent)" class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          לרשימת הילדים שלי
        </button>
        <div  class="collapse" id="collapseExample" *ngIf="Parent.Id==idParent">
            <div class="card card-body">
                <table class="table"  thead-dark>
                    <thead>
                      <tr>
                        <th></th>
                        <th><h6>מס' טלפון</h6></th>
                        <th><h6>כתובת</h6></th>
                        <th><h6>שם משפחה</h6></th>
                        <th><h6>שם פרטי</h6></th>      
                        <th><h6>.מ.ז</h6></th>     
                      </tr>
                    </thead>
                    <tbody *ngFor="let child of children">
                      <tr>
                        <th>{{child.Phone}}</th>
                        <th>{{child.Address}}</th>    
                        <th>{{child.LastName}}</th>
                        <th>{{child.FirstName}}</th>     
                        <th>{{child.Id}}</th>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
   </th>
  </tr>
</tbody>
</table>
</div>
