
<div>
  <a routerLink="/ManagerHomePage" role="button" class="btn btn-info btn-lg" >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfKinderGarden" role="button" class="btn btn-info btn-lg" (click)="select='ListOfKinderGarden'" >הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfChildren" role="button" class="btn btn-info btn-lg" (click)="select='ListOfChildren'" >הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfParent"role="button" class="btn btn-info btn-lg" (click)="select='ListOfParent'" >הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfTeachers"role="button" class="btn btn-info btn-lg" (click)="select='ListOfTeachers'">הצג גננות</a>
  </div>
<div >
  <!--<button (click)="GoToAddParent()">Add Parent</button><br><br>-->
  <input class="form-control" style="width: 15%" [(ngModel)]="search" name="search" placeholder="search...">
<table class="table" >
<thead>
  <tr>
    <th><h3>ID</h3></th>&nbsp;
    <th><h3>FirstName</h3></th>&nbsp;
    <th><h3>LastName</h3></th>&nbsp;
    <th><h3>Address</h3></th>&nbsp;
    <th><h3>Phone</h3></th>&nbsp;
    <th><h3>EMail</h3></th>&nbsp;
    <th></th>
  </tr>
</thead>
<tbody *ngFor="let Parent of ParentList| filter:search">
  <tr>
    <th>{{Parent.Id}}</th>&nbsp;
    <th>{{Parent.FirstName}}</th>&nbsp;
    <th>{{Parent.LastName}}</th>&nbsp;
    <th>{{Parent.Address}}</th>&nbsp;
    <th>{{Parent.PhoneNum}}</th>&nbsp;
    <th>{{Parent.mailAddress}}</th>
    <th><button (click)="goToChildrenOfParent(Parent)">הילדים שלי</button></th>
  </tr>
</tbody>
</table>
</div>