<nav class="bg-dark d-flex justify-content-center navbar">
  <div id="divExit"><button class="btn btn-danger align-start" (click)="Exit()">יציאה</button></div>
  <div><a routerLink="/ManagerHomePage" class="btn btn-info btn-md nav-item  m-1" >דף הבית</a></div>
  <div><a routerLink="/ListOfKinderGarden" class="btn btn-info m-1">הצג גני ילדים</a></div>
  <div><a routerLink="/ListOfChildren" class="btn btn-info m-1">הצג ילדים</a></div>
  <div><a routerLink="/ListOfParent" class="btn btn-info m-1 active">הצג הורים</a></div>
  <div><a routerLink="/ListOfTeachers" class="btn btn-info m-1">הצג גננות</a></div>
</nav>

<div >
  <input class="form-control" style="width: 15%" [(ngModel)]="search" name="search" placeholder="search...">
<table class="table" >
<thead>
  <tr>
    <th></th>
    <th><h3>דוא"ל</h3></th>&nbsp;
    <th><h3>מס' טלפון</h3></th>&nbsp;
    <th><h3>כתובת</h3></th>&nbsp;
    <th><h3>שם משפחה</h3></th>&nbsp;
    <th><h3>שם פרטי</h3></th>&nbsp;
    <th style="background-color: blue"><h3>.מ.ז</h3></th>&nbsp;
  </tr>
</thead>
<tbody *ngFor="let Parent of ParentList| filter:search">
  <tr>
   <th>
      <button (mousedown)="change(Parent)" (click)="goToChildrenOfParent(Parent)"  class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">לרשימת הילדים שלי</button>
    </th>
    <th>{{Parent.mailAddress}}</th>
    <th>{{Parent.PhoneNum}}</th>&nbsp;
    <th>{{Parent.Address}}</th>&nbsp;
    <th>{{Parent.LastName}}</th>&nbsp;
    <th>{{Parent.FirstName}}</th>&nbsp;
    <th style="background-color: blue">{{Parent.Id}}</th>&nbsp;
  </tr>
    <tr style="background-color:aqua">
        <div class="collapse " id="collapseExample"   *ngIf="Parent.Id==idParent">
            <div class="card card-body">
                <table class="table"  thead-dark>
                    <thead>
                      <tr>
                        <th></th>
                        <th><h6>מס' טלפון</h6></th>
                        <th><h6>כתובת</h6></th>
                        <th><h6>שם משפחה</h6></th>
                        <th><h6>שם פרטי</h6></th>      
                        <th><h6>.מ.ז</h6></th>     
                      </tr>
                    </thead>
                    <tbody *ngFor="let child of children">
                      <tr>
                        <th>{{child.Phone}}</th>
                        <th>{{child.Address}}</th>    
                        <th>{{child.LastName}}</th>
                        <th>{{child.FirstName}}</th>     
                        <th>{{child.Id}}</th>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
  </tr>
</tbody>
</table>
</div>
