<h3>{{user.Name}} רשימת הגנים של </h3><br>
<button *ngIf="CUP=='2'||CUP=='4'" (click)="toUpdateTeacherInfo()">לעדכון הפרטים שלי</button>
<button *ngIf="CUP=='3'" (click)="addKinderGardenOfTeacher()">להוספת גן לגננת</button>&nbsp;
<span *ngIf="add=='1'" [ngModel]="add" >
  <label>בחר גן</label>
<select placeholder="select a gan" name="KinderGardenCode"  [(ngModel)]="KinderGardenofTeacher" multiple>  
  <option *ngFor="let k of ListAllKinderGarden"  [value]="k.IdKinderGarden"  >{{k.Name}}</option>
</select>
</span>
<div >
     
   <!-- <button (click)="selectKinderGardensByTeacherId(hhh)">clickMe</button>-->
    <table class="table">
      <thead>
        <tr>
          <th><h3>ID</h3></th>&nbsp;
          <th><h3>Name</h3></th>&nbsp;
          <th><h3>Address</h3></th>&nbsp;
          <th><h3>Phone</h3></th>&nbsp;
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let KG of KinderGardens">
        <tr>
          <th>{{KG.IdKinderGarden}}</th>&nbsp;
          <th>{{KG.Name}}</th>&nbsp;
          <th>{{KG.Address}}</th>&nbsp;
          <th>{{KG.Phone}}</th>&nbsp;
         <th><button class="btn btn-info" *ngIf="CUP=='2'||CUP=='4'" type="button" (click)="goToAttendance(KG.IdKinderGarden,KG.Name)">Attendance</button>&nbsp;
          <th><button class="btn btn-info" *ngIf="CUP=='3'" type="button" (click)="goToChildrenForKinderGarden(KG.IdKinderGarden,KG.Name)">לרשימת הילדים</button>&nbsp;
        </tr>
      </tbody>
    </table>
    <button class="btn btn-info" *ngIf="CUP=='3'" (click)="back()">חזרה</button>&nbsp;
    <button class="btn btn-info" (click)="Exit()">יציאה</button>
  </div>
