<p>
  teacher-home-page works!
</p>
<button (click)="toUpdateTeacherInfo()">לעדכון הפרטים שלי</button>
  <div >
   <!-- <button (click)="selectKinderGardensByTeacherId(hhh)">clickMe</button>-->
    <table class="table">
      <thead>
        <tr>
          <th><h3>ID</h3></th>&nbsp;
          <th><h3>Name</h3></th>&nbsp;
          <th><h3>Address</h3></th>&nbsp;
          <th><h3>Phone</h3></th>&nbsp;
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let KG of KinderGardens">
        <tr>
          <th>{{KG.IdKinderGarden}}</th>&nbsp;
          <th>{{KG.Name}}</th>&nbsp;
          <th>{{KG.Address}}</th>&nbsp;
          <th>{{KG.Phone}}</th>&nbsp;
         <th><button type="button" (click)="goToAttendance(KG.IdKinderGarden)">Attendance</button>&nbsp;
        </tr>
      </tbody>
    </table>
    <button (click)="Exit()">יציאה</button>
  </div>
