<a routerLink="/ManagerHomePage" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>Home page</h3></a>
<a routerLink="/ListOfKinderGarden" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all kinder garden</h3></a>
<a routerLink="/ListOfChildren" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all childrens</h3></a>
<a routerLink="/ListOfParent" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all parents</h3></a>
<a routerLink="/ListOfTeachers" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all teachers</h3></a>
<div >
    <button (click)="ToKinderGardenForm()">addKinderGarden</button><br><br>
 <table class="table" >
  <thead>
    <tr>
      <th><h3>ID</h3></th>&nbsp;
      <th><h3>Name</h3></th>&nbsp;
      <th><h3>Address</h3></th>&nbsp;
      <th><h3>Phone</h3></th>&nbsp;
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let kinderGarden of listKinderGarden">
    <tr>
      <th>{{kinderGarden.IdKinderGarden}}</th>&nbsp;
      <th>{{kinderGarden.Name}}</th>&nbsp;
      <th>{{kinderGarden.Address}}</th>&nbsp;
      <th>{{kinderGarden.Phone}}</th>&nbsp;
    </tr>
  </tbody>
</table>
</div>
