<nav class="bg-dark d-flex justify-content-center navbar">
  <div id="divExit"><button class="btn btn-danger align-start" (click)="Exit()">יציאה</button></div>
  <div><a routerLink="/ManagerHomePage" class="btn btn-info btn-md nav-item  m-1" >דף הבית</a></div>
  <div><a routerLink="/ListOfKinderGarden" class="btn btn-info m-1 active">הצג גני ילדים</a></div>
  <div><a routerLink="/ListOfChildren" class="btn btn-info m-1">הצג ילדים</a></div>
  <div><a routerLink="/ListOfParent" class="btn btn-info m-1">הצג הורים</a></div>
  <div><a routerLink="/ListOfTeachers" class="btn btn-info m-1">הצג גננות</a></div>
</nav>

<div >
    <button class="btn btn-primary" (click)="ToKinderGardenForm()">addKinderGarden</button><br><br>
    <div *ngIf="add=='1'">
      <app-form-kinder-garden></app-form-kinder-garden>
      <br><br>
      <button class="btn btn-outline-info" (click)="cancelAdd()">ביטול</button>
    </div><br><br>
    <div >
 <table class="table" thead-dark>
  <thead>
    <tr>
     <!-- <th><h3>ID</h3></th>&nbsp;-->
      <th><h3>שם גן</h3></th>&nbsp;
      <th><h3>כתובת</h3></th>&nbsp;
      <th><h3>מס' טלפון</h3></th>&nbsp;
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let kinderGarden of listKinderGarden">
    <tr>
      <!--<th>{{kinderGarden.IdKinderGarden}}</th>&nbsp;-->
      <th>{{kinderGarden.Name}}</th>&nbsp;
      <th>{{kinderGarden.Address}}</th>&nbsp;
      <th>{{kinderGarden.Phone}}</th>&nbsp;
      <th><button class="btn btn-info" *ngIf="CUP=='2'" (click)="goToDetails(kinderGarden)">עדכון פרטי גן</button></th>
      <th><button class="btn btn-info" (click)="goToChildrenForKinderGarden(kinderGarden)">לרשימת הילדים</button></th>
    </tr>
  </tbody>
</table>
</div>
