<h3 class="d-flex font-weight-bold justify-content-center p-4"> ברוכים הבאים ל{{kinderGarden.Name}}</h3>
<div id="d1" class="justify-content-center row">
<!--
<div>
<table thead-dark class="table">
    <thead>
        <tr>
          <th><h3>ID</h3></th>&nbsp;
          <th><h3>KINDER</h3></th>&nbsp;
          <th><h3>Status Change</h3></th>&nbsp;
          <th></th>
        </tr>
      </thead>
   נוכחות ילדים איך עושים שהתמונות יצופו אחד ליד השני?
  <tbody *ngFor="let LD of LiveDataList">
    <tr>
      <th>{{LD.IdChild}}</th>&nbsp;
      <th>{{LD.KinderGardenCode}}</th>&nbsp;
     <th > <button [ngStyle]="{'background-color': LD.Status==3 ? 'green':'red'}" (click)="changeStatusToArrived(LD.IdChild)" >Arrived</button></th>
     <th> <button (click)="changeStatusToCconfirm(LD.IdChild)" >חיסור באישור</button></th>
    </tr>
  </tbody>
</table>
<button (click)="goToTeacherHomePage()">חזרה</button>
</div>
-->
<div *ngFor="let c of arr" class="col-md-2 col-sm-8 m-2">
  <div>
  <div class="card">
    <img [src]="'data:image/jpeg;base64,'+ c.pictureBase64" class="card-img-top" alt="no pic">
    <div class="card-body">
      <h5 class="card-title">{{c.FirstName}} {{c.LastName}}</h5>
      <h6 class="card-title">{{c.status}}</h6>
      <button class="btn btn-success" (click)="changeStatusToArrived(c.Id)">הגיע</button>
    </div>
  </div>
</div>
</div>
</div>