<h3> {{kinderGarden.Name}} נוכחות ל  </h3>

<div>
<table class="table">
    <thead>
        <tr>
          <th><h3>ID</h3></th>&nbsp;
          <th><h3>KINDER</h3></th>&nbsp;
          <th><h3>Status Change</h3></th>&nbsp;
        </tr>
      </thead>
  <!-- נוכחות ילדים איך עושים שהתמונות יצופו אחד ליד השני?-->
  <tbody *ngFor="let LD of LiveDataList">
    <tr>
      <th>{{LD.IdChild}}</th>&nbsp;
      <th>{{LD.KinderGardenCode}}</th>&nbsp;
      <th><button (click)="changeStatusToArrived(LD.IdChild)" >Arrived</button></th>
    </tr>
  </tbody>
</table>
<button (click)="goToTeacherHomePage()">חזרה</button>
</div>