<nav class="bg-dark d-flex justify-content-between navbar">
  <div id="divExit"><button class="btn btn-danger align-start m-1" (click)="Exit()">יציאה</button>
  <button class="btn btn-success m-1" (click)="goToTeacherHomePage()">חזרה</button></div>
  <div > <h3 style="color:red" class="font-weight-bold justify-self-center p-2"> ברוכים הבאים ל{{kinderGarden.Name}}</h3></div>
</nav>
<!--
 <nav class="bg-dark d-flex justify-content-center navbar m-3">
  <h3 style="color:red" class="font-weight-bold  p-2"> ברוכים הבאים ל{{kinderGarden.Name}}</h3>
 </nav>-->
<div id="d1" class="justify-content-center row" style="width:100vw">
<div *ngFor="let c of listAttendances" class="   col-8 col-md-2 m-2">
  <div>
  <div class="card " style="background-color:rgb(54, 53, 53)">
    <img [src]="'data:image/jpeg;base64,'+ c.pictureBase64" class="card-img-top" alt="no pic">
    <div class="card-body justify-content-center" style="padding:0">
      <h5 style="text-align:center!important; color:white;" class="card-title m-0">{{c.FirstName}} {{c.LastName}}</h5>
      <h6 style="text-align:center!important; color:azure" class="card-title m-0">{{c.Status}}</h6>
      <div class="row  justify-content-center row">
      <button class="btn btn-danger m-1 p-1" (click)="changeStatusToArrived(c.Id)" [ngClass]="{'disabled' : c.Status==3||c.Status==6}" >הגיע</button>
      <button class="btn btn-success m-1 p-1" (click)="changeStatusToCconfirm(c.Id)" [ngClass]="{'disabled' :c.Status==3||c.Status==6}" >מאושר</button>
    </div>
    </div>
</div>
</div>
</div>
</div>