<a routerLink="/ManagerHomePage" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>Home page</h3></a>
<a routerLink="/ListOfKinderGarden" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all kinder garden</h3></a>
<a routerLink="/ListOfChildren" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all childrens</h3></a>
<a routerLink="/ListOfParent" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all parents</h3></a>
<a routerLink="/ListOfTeachers" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>view all teachers</h3></a>
 <!--<div>

   <form #UserForm="ngForm" (ngSubmit)="addUser(UserForm)">
  <form #UserForm="ngForm" (ngSubmit)="addUser(UserForm)">
    <input name="Id" type="text"  ngModel>id  <br>
    <input name="FirstName" type="text" ngModel>שם פרטי  <br>
    <input name="LastName" type="text" ngModel>שם משפחה  <br>
    <input name="Address" type="text" ngModel>כתובת  <br>
    <input name="PhoneNum" appPhoneMask type="text" ngModel>פלאפון  <br>

  <input name="Permission" type="number" [(ngModel)]="user.Permission">Permission
    <input name="MailAddress" type="text" ngModel>כתובת דוא"ל  <br>
    <button type="submit">add</button>
  </form>
</div>
<div>-->
 <!-- <form #UserForm="ngForm" (ngSubmit)="addUser(UserForm)">
    <input name="MailAddress" type="text" ngModel>כתובת דוא"ל  <br>
    <button type="submit">add</button>
  </form>
</div>  -->
<div>
<form #UserForm="ngForm" (ngSubmit)="addUser(UserForm)">
    <input class="from-control" name="Id" type="text"  [(ngModel)]="user.Id" required >id  <br>
   <!-- <span [hidden]="Id.valid" class="alert alert-danger"  ></span>-->
    <input name="FirstName" type="text" [(ngModel)]="user.FirstName" required>שם פרטי  <br>
    <input name="LastName" type="text" [(ngModel)]="user.LastName" required>שם משפחה  <br>
    <input name="Address" type="text" [(ngModel)]="user.Address" required>כתובת  <br>
    <input name="PhoneNum" type="text" [(ngModel)]="user.PhoneNum" appPhoneMask required >פלאפון  <br>
    <input name="MailAddress" type="text" [(ngModel)]="user.MailAddress" required>כתובת דוא"ל  <br>
    <select name="select a gan" multiple   name="KinderGardenCode" required [(ngModel)]="KinderGardenofTeacher">     
      <option *ngFor="let k of ListKinderGarden"    [value]="k.IdKinderGarden"  >{{k.Name}}</option>
    </select>
    <button type="submit">add</button>
  </form>
</div>