<div>
  <form #UserForm="ngForm" (ngSubmit)="addUser(UserForm)">
    <input name="Id" type="text"  [(ngModel)]="user.Id">id  <br>
    <input name="Name" type="text" [(ngModel)]="user.Name">name  <br>
    <input name="Address" type="text" [(ngModel)]="user.Address">address  <br>
    <input name="PhoneNum" type="text" [(ngModel)]="user.PhoneNum">phone  <br>
   <input name="Permission" type="number" [(ngModel)]="user.Permission">Permission  <br>
    <input name="MailAddress" type="text" [(ngModel)]="user.MailAddress">mail  <br>
    <button type="submit">add</button>
  </form>
</div>
