<nav class="navbar navbar-expand-xl bg-dark navbar-dark justify-content-center">
  <h3>ניהול נוכחות ובטיחות בגני ילדים</h3>
</nav>
<div style=" width:calc(100vh-5px)" class="m-5 d-flex">
<!-- <img class="rounded" src="Logo.jpg" >-->
<form #userForm="ngForm"  (ngSubmit)="Login(userId.value,userFirstName.value,userLastName.value); userForm.reset()" >
  <div class="form-group">
    <label for="userFirstName">שם פרטי</label>
    <input type="text" class="form-control border border-danger border-5" #userFirstName placeholder="הכנס שם פרטי" />
  </div>
  <div class="form-group">
    <label for="userLastName">שם משפחה</label>
    <input type="text" class="form-control border border-danger border-5" #userLastName placeholder="הכנס שם משפחה" />
  </div>
  <div class="form-group">
    <label for="password">סיסמה</label>
    <input type="password" name="ID" class="form-control border border-danger border-5" [(ngModel)]="ID" #userId placeholder="הכנס מ.ז"/>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-danger ">
      כניסה
    </button>
  </div>
</form>
</div>