<!--<nav class="navbar navbar-expand-xl bg-dark navbar-dark justify-content-center">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button class="btn btn-danger" (click)="Exit()">יציאה</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/ManagerHomePage" class="btn btn-info btn-md nav-item active" >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfKinderGarden" class="btn btn-info">הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfChildren" class="btn btn-info">הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfParent" class="btn btn-info">הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfTeachers" class="btn btn-info">הצג גננות</a>
    </li>
   
  </ul>
</nav>-->
<div>
  <form #kinderGardenForm="ngForm" (ngSubmit)="function(kinderGardenForm)" class="form">
  <!--  <input name="idKinderGarden" type="number"  [(ngModel)]="kinderGarden.idKinderGarden">code  <br>-->
 <!-- <div class="form-group">
    <label for="uname">שם הגן:</label>
    <input type="text" class="form-control" id="uname" placeholder="Enter username" name="uname" required>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>-->
    שם גן<input class="form-control" name="name" type="text" placeholder="שם גן" [(ngModel)]="kinderGarden.name">
    כתובת<input class="form-control" name="Address" type="text" placeholder="כתובת" [(ngModel)]="kinderGarden.Address">
    טלפון<input class="form-control" name="phone" type="text" placeholder="טלפון" [(ngModel)]="kinderGarden.phone">
    שנה<input class="form-control" name="year" type="number" placeholder="שנה" [(ngModel)]="kinderGarden.year">
    שעת תחילת הגן<input class="form-control" placeholder="שעת תחילת הגן" name="beginigHour" type="text" [(ngModel)]="kinderGarden.beginingHour">
    <button class="btn btn-primary" type="submit">הוסף גן</button>
  </form>
</div>