<nav class="navbar navbar-expand-xl bg-dark navbar-dark justify-content-center">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button class="btn btn-danger" (click)="Exit()">יציאה</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/ManagerHomePage" class="btn btn-info btn-md nav-item active" >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfKinderGarden" class="btn btn-info">הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfChildren" class="btn btn-info">הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfParent" class="btn btn-info">הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfTeachers" class="btn btn-info">הצג גננות</a>
    </li>
   
  </ul>
</nav>
<div class="d-flex justify-content-center m-4" ><h2>הוספת גן</h2></div>
<div class=" d-flex justify-content-center align-items-center container-fluid " >
<form #kinderGardenForm="ngForm" (ngSubmit)="addKinderGarden(kinderGardenForm)" class="col-10 justify-content-center">
    <div class="row d-flex  p-5">
      <input class="form-control col border border-danger border-5 " name="name" type="text"  [(ngModel)]="kinderGarden.name">
      <label class="col " for="Id" >שם גן</label> 
      <input class="form-control col border border-danger border-5 " name="Address" type="text"  [(ngModel)]="kinderGarden.Address">
      <label class="col " for="Id" >כתובת</label> 
      <input class="form-control col border border-danger border-5 " name="phone" type="text"  [(ngModel)]="kinderGarden.phone">
      <label class="col " for="Id" >טלפון</label> 
    </div>
    <div class="row d-flex  p-5 justify-content-center ">
      <input class="form-control col border border-danger border-5 " name="year" type="number"  [(ngModel)]="kinderGarden.year">
      <label class="col-2 " for="Id" >שנת הקמת הגן</label>
      <input class="form-control col border border-danger border-5 " p name="beginigHour" type="text" [(ngModel)]="kinderGarden.beginingHour">
      <label class="col-2 " for="Id" >שעת תחילת הגן</label>
    </div>
    <button class="btn btn-dark p-y-5 m-5"  type="submit">הוסף גן</button>
  </form>
</div>