<div>
  <form #kinderGardenForm="ngForm" (ngSubmit)="addKinderGarden(kinderGardenForm)">
  <!--  <input name="idKinderGarden" type="number"  [(ngModel)]="kinderGarden.idKinderGarden">code  <br>-->
    <input name="name" type="text"  [(ngModel)]="kinderGarden.name">name  <br>
    <input name="Address" type="text" [(ngModel)]="kinderGarden.Address">addres  <br>
    <input name="phone" type="text" [(ngModel)]="kinderGarden.phone">phone  <br>
    <input name="year" type="number" [(ngModel)]="kinderGarden.year">year  <br>
    <input name="beginigHour" type="text" [(ngModel)]="kinderGarden.beginingHour">begining hour  <br>
    <button type="submit">add</button>
  </form>
</div>