
<div>
  <a routerLink="/ManagerHomePage" role="button" class="btn btn-info btn-lg" >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfKinderGarden" role="button" class="btn btn-info btn-lg"  >הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfChildren" role="button" class="btn btn-info btn-lg nav-item active"  >הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfParent"role="button" class="btn btn-info btn-lg"  >הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfTeachers"role="button" class="btn btn-info btn-lg" >הצג גננות</a>
  </div>
<div >
  <input class="form-control" style="width: 15%" [(ngModel)]="search" name="search" placeholder="search...">
    <button (click)="ToChildrenForm()">add child</button><br><br>
 <table class="table" >
  <thead>
    <tr>
      <th><h3>ID</h3></th>&nbsp;
      <th><h3>First Name</h3></th>&nbsp;
      <th><h3>Last Name</h3></th>&nbsp;
      <th><h3>Address</h3></th>&nbsp;
      <th><h3>Phone</h3></th>&nbsp;
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let child of listChildren ">
    <tr>
      <th>{{child.Id}}</th>&nbsp;
      <th>{{child.FirstName}}</th>&nbsp;
      <th>{{child.LastName}}</th>&nbsp;
      <th>{{child.Address}}</th>&nbsp;
      <th>{{child.Phone}}</th>&nbsp;
      <th><button (click)="changeToNotActive(child.Id)">changeToNotActive</button></th>
    </tr>
  </tbody>
</table>
</div>