<nav class="navbar navbar-expand-xl bg-dark navbar-dark justify-content-center">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button class="btn btn-danger" (click)="Exit()">יציאה</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/ManagerHomePage" class="btn btn-info btn-md nav-item " >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfKinderGarden" class="btn btn-info">הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfChildren" class="btn btn-info active">הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfParent" class="btn btn-info">הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfTeachers" class="btn btn-info ">הצג גננות</a>
    </li>
  </ul>
</nav>
<h3>  :משתמש נוכחי {{user.FirstName}} {{user.LastName}} ניתן לבצע את הפעולות הבאות</h3>
<div >
<div >
  <input class="form-control" style="width: 15%" [(ngModel)]="search" name="search" placeholder="search...">
    <button (click)="ToChildrenForm()">add child</button><br><br>
 <table class="table" >
  <thead>
    <tr>
      <th><h3>.מ.ז</h3></th>&nbsp;
      <th><h3>שם פרטי</h3></th>&nbsp;
      <th><h3>שם משפחה</h3></th>&nbsp;
      <th><h3>כתובת</h3></th>&nbsp;
      <th><h3>מס' טלפון</h3></th>&nbsp;
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let child of listChildren | filter:search">
    <tr>
      <th>{{child.Id}}</th>&nbsp;
      <th>{{child.FirstName}}</th>&nbsp;
      <th>{{child.LastName}}</th>&nbsp;
      <th>{{child.Address}}</th>&nbsp;
      <th>{{child.Phone}}</th>&nbsp;
      <th><button (click)="changeToNotActive(child.Id)" class="btn btn-danger">changeToNotActive</button></th>
    </tr>
  </tbody>
</table>
</div>