
<div>
  <a routerLink="/ManagerHomePage" role="button" class="btn btn-info btn-lg" >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfKinderGarden" role="button" class="btn btn-info btn-lg" (click)="select='ListOfKinderGarden'" >הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfChildren" role="button" class="btn btn-info btn-lg" (click)="select='ListOfChildren'" >הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfParent"role="button" class="btn btn-info btn-lg" (click)="select='ListOfParent'" >הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfTeachers"role="button" class="btn btn-info btn-lg" (click)="select='ListOfTeachers'" >הצג גננות</a>
  </div>
<div >
  <button (click)="GoToAddTeacher()">Add Teacher</button><br><br>
  <input class="form-control" style="width: 15%" [(ngModel)]="search" name="search" placeholder="search...">
<table class="table" >
<thead>
  <tr>
    <th><h3>ID</h3></th>&nbsp;
    <th><h3>FirstName</h3></th>&nbsp;
    <th><h3>LastName</h3></th>&nbsp;
    <th><h3>Address</h3></th>&nbsp;
    <th><h3>Phone</h3></th>&nbsp;
    <th><h3>EMail</h3></th>&nbsp;
    <th></th>
  </tr>
</thead>
<tbody *ngFor="let Teacher of TeacherList| filter:search">
  <tr>
    <th>{{Teacher.Id}}</th>&nbsp;
    <th>{{Teacher.FirstName}}</th>&nbsp;
    <th>{{Teacher.LastName}}</th>&nbsp;
    <th>{{Teacher.Address}}</th>&nbsp;
    <th>{{Teacher.PhoneNum}}</th>&nbsp;
    <th>{{Teacher.mailAddress}}</th>&nbsp;
    <th><button (click)="goToTeacherHomePage(Teacher)">הגנים שלי</button></th>
  </tr>
</tbody>
</table>
</div>