<nav class="bg-dark d-flex justify-content-center navbar">
  <div id="divExit"><button class="btn btn-danger align-start" (click)="Exit()">יציאה</button></div>
  <div><a routerLink="/ManagerHomePage" class="btn btn-info btn-md nav-item  m-1" >דף הבית</a></div>
  <div><a routerLink="/ListOfKinderGarden" class="btn btn-info m-1">הצג גני ילדים</a></div>
  <div><a routerLink="/ListOfChildren" class="btn btn-info m-1">הצג ילדים</a></div>
  <div><a routerLink="/ListOfParent" class="btn btn-info m-1">הצג הורים</a></div>
  <div><a routerLink="/ListOfTeachers" class="btn btn-info m-1 active">הצג גננות</a></div>
</nav>
<div >
    <button class="btn btn-info" (click)="GoToAddTeacher()">Add Teacher</button><br><br>
    <div *ngIf="add=='1'">
      <app-form-user></app-form-user>
      <br><br>
      <button class="btn btn-outline-info" (click)="cancelAdd()">ביטול</button>
    </div><br><br>
    <div >
  <input class="form-control" style="width: 15%" [(ngModel)]="search" name="search" placeholder="search...">
<table class="table"> 
<thead>
  <tr>
    <th><h3>.מ.ז</h3></th>&nbsp;
    <th><h3>שם פרטי</h3></th>&nbsp;
    <th><h3>שם משפחה</h3></th>&nbsp;
    <th><h3>כתובת</h3></th>&nbsp;
    <th><h3>מס' טלפון</h3></th>&nbsp;
    <th><h3>דוא"ל</h3></th>&nbsp;
    <th></th>
  </tr>
</thead>
<tbody *ngFor="let Teacher of TeacherList| filter:search">
  <tr>
    <th>{{Teacher.Id}}</th>&nbsp;
    <th>{{Teacher.FirstName}}</th>&nbsp;
    <th>{{Teacher.LastName}}</th>&nbsp;
    <th>{{Teacher.Address}}</th>&nbsp;
    <th>{{Teacher.PhoneNum}}</th>&nbsp;
    <th>{{Teacher.mailAddress}}</th>&nbsp;
    <th><button (click)="goToTeacherHomePage(Teacher)">הגנים שלי</button></th>
  </tr>
</tbody>
</table>
</div>