<p>
  children-of-parent works!
</p>
<div>
  <table class="table">
    <thead>
      <tr>
        <th><h3>ID</h3></th>&nbsp;
        <th><h3>Name</h3></th>&nbsp;
        <th><h3>Addres</h3></th>&nbsp;
        <th><h3>Phone</h3></th>&nbsp;
        <th><h3>LastName</h3></th>&nbsp;
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th></th>&nbsp;
        <th></th>&nbsp;
        <th></th>&nbsp;
        <th></th>&nbsp;
        <th></th>&nbsp;
       <th><button type="button" (click)="goToReport()">report time</button>&nbsp;<button (click)="goToDetails()">update details</button>
      </tr>
    </tbody>
  </table>
</div>
