
<div>
  <h3> רשימת הילדים של {{user.FirstName}}{{user.LastName}}</h3><br>
  <table class="table">
    <thead>
      <tr>
        <th><h3>ID</h3></th>&nbsp;
        <th><h3>FirstName</h3></th>&nbsp;
        <th><h3>LastName</h3></th>&nbsp;
        <th><h3>Address</h3></th>&nbsp;       
        <th><h3>Phone</h3></th>&nbsp;
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let child of children">
      <tr>
        <th>{{child.Id}}</th>&nbsp;
        <th>{{child.FirstName}}</th>&nbsp;
        <th>{{child.LastName}}</th>&nbsp;
        <th>{{child.Address}}</th>&nbsp;
        <th>{{child.Phone}}</th>&nbsp;
       <th><button  *ngIf="CUP=='1'" type="button" (click)="goToReport(child)">report time</button>&nbsp;
      <button *ngIf="CUP=='1'" (click)="goToDetails(child)">update details</button>
      </tr>
    </tbody>
  </table>
  <button (click)="Exit()">יציאה</button>&nbsp;&nbsp;
  <button *ngIf="CUP=='3'" (click)="GoBack()">חזרה</button>
</div>

