<p>
  children-of-parent works!
</p>
<div>
  <table class="table">
    <thead>
      <tr>
        <th><h3>ID</h3></th>&nbsp;
        <th><h3>Name</h3></th>&nbsp;
        <th><h3>Address</h3></th>&nbsp;       
        <th><h3>Phone</h3></th>&nbsp;
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let child of children">
      <tr>
        <th>{{child.Id}}</th>&nbsp;
        <th>{{child.ChildName}}</th>&nbsp;
        <th>{{child.Address}}</th>&nbsp;
        <th>{{child.Phone}}</th>&nbsp;
       <th><button type="button" (click)="goToReport(child)">report time</button>&nbsp;
      <button (click)="goToDetails(child)">update details</button>
      </tr>
    </tbody>
  </table>
  <button (click)="Exit()">יציאה</button>
</div>

