
<header>
  <button class="btn btn-danger" (click)="Exit()">יציאה</button>
</header>
<div>
  <table class="table" thead-dark>
    <thead>
      <tr>
        <th><h3>ID</h3></th>&nbsp;
        <th><h3>FirstName</h3></th>&nbsp;
        <th><h3>LastName</h3></th>&nbsp;
        <th><h3>Address</h3></th>&nbsp;       
        <th><h3>Phone</h3></th>&nbsp;
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let child of children">
      <tr>
        <th>{{child.Id}}</th>&nbsp;
        <th>{{child.FirstName}}</th>&nbsp;
        <th>{{child.LastName}}</th>&nbsp;
        <th>{{child.Address}}</th>&nbsp;
        <th>{{child.Phone}}</th>&nbsp;
        <th><img [src]="'data:image/jpeg;base64,'+ child.pictureBase64"></th>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-info" (click)="GoBack()">חזרה</button>&nbsp;&nbsp;
</div>
