<p>
  children-for-kinder-garden works!
</p>
<div>
  <table class="table">
    <thead>
      <tr>
        <th><h3>ID</h3></th>&nbsp;
        <th><h3>Name</h3></th>&nbsp;
        <th><h3>Address</h3></th>&nbsp;       
        <th><h3>Phone</h3></th>&nbsp;
      </tr>
    </thead>
    <tbody *ngFor="let child of children">
      <tr>
        <th>{{child.Id}}</th>&nbsp;
        <th>{{child.ChildName}}</th>&nbsp;
        <th>{{child.Address}}</th>&nbsp;
        <th>{{child.Phone}}</th>&nbsp;
      </tr>
    </tbody>
  </table>
</div>
