<!--<div class="container">
<table class="table table-borderless">
 <thead>
   <tr>
     <th>add a teacher</th>
   </tr>
 </thead>
    <tbody>
      name:
      <tr>
        <td><input [(ngModel)]="thisTeacher.name"></td>
      </tr>
      Id:
      <tr>
        <td><input [(ngModel)]="thisTeacher.id" ></td>
      </tr>
      classLevel:
      <tr>
        <td><input [(ngModel)]="thisTeacher.classLevel"></td>
      </tr>
      numGroup:
      <tr>
        <td><input  [(ngModel)]="thisTeacher.numGroup"></td>
      </tr>
      <tr>
        <td><button (click)="AddTheTeacher()"> add a teacher! </button></td>
      </tr>
        </tbody>
</table>
</div>
-->
<form #teachrForm="ngForm" (ngSubmit)="AddTheTeacher(teachrForm)">
  <ul>
  name:
   <li> <input name="name" type="text"  required id="name" #name="ngModel" [(ngModel)]="thisTeacher.name"></li>
   <div [hidden]="name.valid||name.pristine " class="alert alert-danger">name required</div>
    <br>
    Id:
    <li><input name="id" [(ngModel)]="thisTeacher.id" ></li>
    <br>
    Phone Number:
    <li><input name="phone" [(ngModel)]="thisTeacher.phoneNumber" ></li>
    <br>
    classLevel:
    <li><input name="classLevel" [(ngModel)]="thisTeacher.classLevel"></li>
    <br>
    numGroup:
    <li><input name="numGroup" [(ngModel)]="thisTeacher.numGroup"></li>
    <br>
    <li><button type="submit"> add a teacher! </button></li>
  </ul>

</form>

