<nav class="navbar navbar-expand-xl bg-dark navbar-dark justify-content-center">
  <ul class="navbar-nav">
      <li class="nav-item">
          <button class="btn btn-danger" (click)="Exit()">יציאה</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    <li class="nav-item active">
      <a class="nav-link" routerLink="/ManagerHomePage" class="btn btn-info btn-md nav-item active" >דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfKinderGarden" class="btn btn-info">הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfChildren" class="btn btn-info">הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfParent" class="btn btn-info">הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/ListOfTeachers" class="btn btn-info">הצג גננות</a>
    </li>
   
  </ul>
</nav>
<div class="d-flex justify-content-center m-4" ><h2>הוספת ילד</h2></div>
<div class=" d-flex justify-content-center align-items-center container-fluid " >
    <form #ChildrenForm="ngForm" (ngSubmit)="addChildren(ChildrenForm)" class="col-10 justify-content-center" >
      <div class="row d-flex  p-4">
          <input class="form-control col border border-danger border-5 " name="IdChild" type="text" [(ngModel)]="childParent.ChildId" >
          <label class="col " for="Id" >מספר זהות</label> 
          <input class="form-control col border border-danger border-5 "  name="ChildFirstName" type="text"  [(ngModel)]="childParent.ChildFirstName" >
          <label class="col " for="Id" >שם פרטי ילד</label> 
          <input class="form-control col border border-danger border-5 " name="ChildLastName" type="text"  [(ngModel)]="childParent.ChildLastName" >
          <label class="col " for="Id" >שם משפחה </label> 
      </div>
      <div class="row d-flex  p-4">
          <input class="form-control col border border-danger border-5 " name="Address" type="text" [(ngModel)]="childParent.address" >
          <label class="col " for="Id" >כתובת </label> 
          <input class="form-control col border border-danger border-5 " name="Phone" type="text" [(ngModel)]="childParent.phone" >
          <label class="col " for="Id" >טלפון </label> 
          <input class="form-control col border border-danger border-5 " name="Id" type="text"  [(ngModel)]="childParent.parentCode" >
          <label class="col " for="Id" >מספר זהות הורה</label> 
      </div>
      <div class="row d-flex  p-4">
        <input class="form-control col border border-danger border-5 " name="Name" type="text" [(ngModel)]="childParent.ParentFirstName">
        <label class="col " for="Id" > שם פרטי הורה</label> 
        <input class="form-control col border border-danger border-5 " name="Name" type="text" [(ngModel)]="childParent.ParentLastName">
       <!-- <label class="col " for="Id" >שם משפחה הורה </label> 
        <input class="form-control col border border-danger border-5 " name="MailAddress" type="text" [(ngModel)]="childParent.mailAddress">-->
        <label class="col " for="Id" > כתובת מייל</label>
        <select class="form-control col border-danger border-5"  placeholder="select a gan" name="KinderGardenCode" [(ngModel)]="childParent.kinderGardenCode" >     
          <option *ngFor="let k of ListKinderGarden"  [value]="k.IdKinderGarden" >{{k.Name}}</option>
        </select>
        <label class="col " for="Id" >בחר גן</label> 
      </div>
      <button class="btn btn-dark p-y-5 m-5"  type="submit">add</button>
    </form>

  </div>



  