
<div>
  <a routerLink="/ManagerHomePage" role="button" class="btn btn-info btn-lg" (click)="select='ManagerHomePage'" [ngClass]="select=='ManagerHomePage'? 'selected':''">דף הבית</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfKinderGarden" role="button" class="btn btn-info btn-lg" (click)="select='ListOfKinderGarden'" [ngClass]="select=='ListOfKinderGarden'? 'selected':''">הצג גני ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfChildren" role="button" class="btn btn-info btn-lg" (click)="select='ListOfChildren'" [ngClass]="select=='ListOfChildren'? 'selected':''">הצג ילדים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfParent"role="button" class="btn btn-info btn-lg" (click)="select='ListOfParent'" [ngClass]="select=='ListOfParent'? 'selected':''">הצג הורים</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a routerLink="/ListOfTeachers"role="button" class="btn btn-info btn-lg" (click)="select='ListOfTeachers'" [ngClass]="select=='ListOfTeachers'? 'selected':''">הצג גננות</a>
  </div>
<div>
    <form #ChildrenForm="ngForm" (ngSubmit)="addChildren(ChildrenForm)">
      <input name="IdChild" type="text" [(ngModel)]="childParent.ChildId" > תז ילד<br>
      <input name="ChildFirstName" type="text"  [(ngModel)]="childParent.ChildFirstName" >שם פרטי הילד  <br>
      <input name="ChildLastName" type="text"  [(ngModel)]="childParent.ChildLastName" >שם משפחה הילד  <br>
      <input name="Address" type="text" [(ngModel)]="childParent.address" >כתובת  <br>
      <!--[(ngModel)]="user.Address"-->
      <input name="Phone" type="text" [(ngModel)]="childParent.phone" >טלפון<br>
      <!--[(ngModel)]="user.PhoneNum"-->
      <input name="Id" type="text"  [(ngModel)]="childParent.parentCode" >תז' הורה  <br>
      <!--[(ngModel)]="child.ParentCode"-->
      <input name="Name" type="text" [(ngModel)]="childParent.ParentFirstName">שם פרטי הורה  <br>
      <input name="Name" type="text" [(ngModel)]="childParent.ParentLastName">שם משפחה הורה  <br>
      <input name="MailAddress" type="text" [(ngModel)]="childParent.mailAddress">כתובת דו"אל  <br>
     <!-- <input name="KinderGardenCode" type="number" [(ngModel)]="child.KinderGardenCode">קוד גן<br>-->
      <select  placeholder="select a gan" name="KinderGardenCode" [(ngModel)]="childParent.kinderGardenCode" >     
        <option *ngFor="let k of ListKinderGarden"  [value]="k.IdKinderGarden" >{{k.Name}}</option>
      </select>
      <br>
      <button class="btn btn-primary" type="submit">add</button>
    </form>
   
  </div>



  