<div>
    <form #ChildrenForm="ngForm" (ngSubmit)="addChildren(ChildrenForm)">
      <input name="Id" type="text" [(ngModel)]="kinderGarden.idKinderGarden">id  <br>
      <input name="ChildName" type="text"  [(ngModel)]="kinderGarden.name">name  <br>
      <input name="Address" type="text" [(ngModel)]="kinderGarden.addres">addres  <br>
      <input name="Phone" type="text" [(ngModel)]="kinderGarden.phone">phone  <br>
      <input name="ParentCode" type="text" [(ngModel)]="kinderGarden.year">paren Code  <br>
      <input name="KinderGardenCode" type="number" [(ngModel)]="kinderGarden.beginingHour">code of kinder garden  <br>
      <button type="submit">add</button>
    </form>
  </div>