<p>
  future-data-update-info works!
</p>
<div>
  <form #UpdateFutureData="ngForm" (ngSubmit)="updateFutureData(UpdateFutureData)"><br>
<select name="Status" [(ngModel)]="ST">
  <option value="1">איחור</option>
  <option value="2">חיסור</option>
</select><br>
   <input name="Date" type="date" [(ngModel)]="futureData.Date" disabled> Date <br>
    <input name="UpdateBy" type="text" [(ngModel)]="futureData.UpdateBy">UpdateBy<br>
    <a *ngIf="ST==1"><input name="Alarm" type="time" [(ngModel)]="futureData.Alarm">Alarm<br></a>
    <input name="Comments" type="text" [(ngModel)]="futureData.Comments">Comments<br>
    <button type="submit">עדכן</button>
  </form>
</div>
