
<a routerLink="" class="btn btn-link" (click)="boolHome=!boolHome" [ngStyle]="{'color': boolHome?'red':'green'}"><h3>Home</h3></a>
<a routerLink="seretaryTeacher" class="btn btn-link" (click)="boolAddTeacher= !boolAddTeacher" [ngStyle]="{'color': boolAddTeacher?'red':'green'}"><h3>Add Teacher</h3></a>
<a routerLink="seretaryStudent" class="btn btn-link" (click)="boolAddStudent= !boolAddStudent" [ngStyle]="{'color': boolAddStudent?'red':'green'}"><h3>Add Student</h3></a>
<a routerLink="seretaryClass" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>Add Class</h3></a>
<a routerLink="ChildrenForParent" class="btn btn-link" (click)="boolAddClass= !boolAddClass" [ngStyle]="{'color': boolAddClass?'red':'green'}"><h3>ChildrenForParent</h3></a>
